* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1120px;
}

.flex-wrapper {
    display: flex;
    align-items: center;
}

.flex-wrapper_jcsb {
    justify-content: space-between;
}

.flex-wrapper_jcsa {
    justify-content: space-around;
}

.flex-wrapper_fdc {
    flex-direction: column;
}

.flex-wrapper_width {
    width: 100%;
}

.main-block {
    background: #141416;
    padding-top: 128px;
}

.preface__description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #777E91;
}

.preface__title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FCFCFD;
    margin-top: 10px;
}

.preface__btn {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FCFCFD;
    padding: 16px 24px;
    border: 2px solid #777E91;
    border-radius: 90px;
    background: none;
    margin-top: 24px;
}

.mainNft {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 130px;
}

.mainNft__photo {
    border-radius: 16px;
}

.descNft__title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #FCFCFD;
}

.descNft {
    width: 352px;
}

.descNft__creator-and-instprice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}

.descNft__creator {
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    width: fit-content;
    height: 40px;
}
.descNft__creator img {
    width: 100%;
    height: 100%;
}

.descNft__creator-description,
.descNft__instant-price-description {
    margin-left: 8px;
}

.descNft__creator-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
}

.descNft__creator-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FCFCFD;
}

.descNft__instant-price-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
}

.descNft__instant-price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FCFCFD;
}

.auctionNft {
    width: 352px;
    height: 296px;
    background: #23262F;
    box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
    border-radius: 24px;
    padding-top: 32px;
    margin-top: 42px;
}

.auctionNft__currentBid {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FCFCFD;
}

.auctionNft__currentBid-priceCrypto {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FCFCFD;
}

.auctionNft__auction-ending {
    margin-top: 24px;
}

.auctionNft__currentBid-price-dollar {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    text-align: center;

    /* Neutrals/4 */

    color: #777E91;
}

.auctionNft__auction-ending-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FCFCFD;
}

.auctionNft__time {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FCFCFD;
}

.auctionNft__time-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #777E91;
}

.descNft__buttons-group {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.descNft__place-a-bid {
    border: 0;
    padding: 16px 24px;
    width: 100%;
    background: #3772FF;
    border-radius: 90px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FCFCFD;
}

.descNft__view-item {
    background: none;
    border: 2px solid #777E91;
    border-radius: 90px;
    width: 100%;
    margin-top: 8px;
    height: 48px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FCFCFD;
}

.descNft__arrows-group {
    margin-top: 40px;
    position: absolute;
    top: 1119px;
    left: 1161px;
    z-index: 1;
    /* bottom: -566px; */
}

.descNft__arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background: none;
}

.descNft__arrow:hover {
    border: 2px solid #777E91;
}

/* 
.main-slider-line{
    display: flex;
} */
.slick-initialized .slick-slide {
    display: flex !important;
}

.slick-arrow.slick-prev {

    font-size: 0;
    background: url(../../img/main_page-img/arrow-left.svg) 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.slick-arrow.slick-next {
    font-size: 0;
    background: url(../../img/main_page-img/arrow-right.svg) 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.slick-arrow.slick-next:hover,
.slick-arrow.slick-prev:hover {
    border: 2px solid #777E91;
}

.latest-upload {
    margin-top: 140px;
    padding-bottom: 128px;
}

.latest-upload__main-card {
    width: fit-content;
}

.latest-upload__main-card-img {
    border-radius: 12px;
}

.latest-upload__main-card-desc-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.latest-upload__main-card-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FCFCFD;
}

.latest-upload__main-card-desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #E6E8EC;
}

.latest-upload__highest-bid {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
}

.latest-upload__highest-bid-price {
    border: 2px solid #45B36B;
    border-radius: 4px;
    padding: 8px 8px 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #45B36B;
}

.latest-upload__other-card-img {
    border-radius: 12px;
    width: 160px;
    height: 148px;
    transition: all 0.5s ease;
}

.latest-upload__other-card-img-hover {
    transition: all 0.5s ease;
}

.latest-upload__other-card-img-hover:hover>.latest-upload__other-card-img {
    opacity: 0;
    transition: all 0.5s ease;
}

.latest-upload__other-card-img-hover:hover {
    background-image: url(../../img/main_page-img/img.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
}

.latest-upload__other-card-desc-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FCFCFD;
}

.creator_pink-bg {
    background: rgb(159, 80, 94);
}

.latest-upload__other-card-desc-price {
    padding: 8px 8px 6px;
    border: 2px solid #45B36B;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #45B36B;
}

.latest-upload__other-card-desc-quantity {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #777E91;
}

.latest-upload__other-cards-desc-btn {
    border: 2px solid #777E91;
    border-radius: 90px;
    padding: 8px 12px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FCFCFD;
    background: none;
    margin-top: 16px;
    transition: 0.5s;
}

.latest-upload__other-cards-desc-btn:hover {
    background: #3772FF;
    border: 2px solid #3772FF;
}

.latest-upload__other-card-desc-wrap {
    width: 167px;
}

.latest-upload__cards-block {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.latest-upload__other-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.latest-upload__other-card-desc {
    margin-left: 24px;
}

.creator_yellow-bg {
    background: yellow;
}

.latest-upload__creator-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FCFCFD;
}

.latest-upload__creator-price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #E6E8EC;
}

.latest-upload__creator-price-valute {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
}

.latest-upload__creator-number {
    position: relative;
    top: 23px;
    left: 4px;
}

.latest-upload__creators-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
}

.creator_big-size {
    width: 57px;
    height: 57px;
}

.latest-upload__creators-get-more-btn {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FCFCFD;
}

.latest-upload__creators-get-more-btn {
    width: 158px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: 2px solid #777E91;
    border-radius: 90px;
    padding: 8px 12px;
    transition: 0.5s all ease;
}

.latest-upload__creators-get-more-btn:hover {
    background: #3772FF;
    border: 2px solid #3772FF;
}

.latest-upload__creators-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-left: 1px solid #353945;
    padding-left: 28px;
}

.latest-upload__creator-desc {
    margin-left: 16px;
}

.latest-upload__creator_bord-top {
    border-top: 1px solid #353945;
    width: 100%;
}

.pop-sellers {
    background: #23262F;
    padding-top: 128px;
    padding-bottom: 120px;
}

.pop-sellers__select {
    background: none;
    outline: none;
    border: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #FCFCFD;
    width: 165px;
    margin-left: -5px;
}

.pop-sellers__select option {
    background: #23262F;
    outline: none;
    border: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #FCFCFD;
}


.pop-sellers__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #777E91;
}

.pop-sellers__temeframe-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #B1B5C4;
}

.pop-sellers__timeframe {
    padding: 8px 8px 8px 16px;
    border: 2px solid #B1B5C4;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 256px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FCFCFD;
    margin-top: 12px;
}

.pop-sellers__show-hide-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FCFCFD;
}

.pop-sellers__show-hide-block {
    padding-left: 16px;
    position: absolute;
    overflow: hidden;
    height: 0;
    background: #141416;
    border-radius: 5px;
    width: 268px;
    transition: all 0.3s ease;
    z-index: 1;
}

.pop-sellers__show-hide-block_active {
    height: 123px;
}

.pop-sellers__show-hide-text:hover {
    color: #B1B5C4;
}

.pop-sellers__show-hide-text_active {
    color: #B1B5C4;
}

.pop-sellers__slider-card {
    padding: 24px;
    background: #141416;
    border-radius: 16px;
    width: 174px;
    height: 223px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    transition: 1s;

}

.pop-sellers__slider-card:hover > .creator_big-size{
    width: 70px;
    height: 70px;
    transition: 0.5s;
}
.pop-sellers__slider-card:hover{
    height: 250px;
}

.pop-sellers__slider {
    margin-top: 64px;
}

.pop-sellers__slider-card-up-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 26px;
    border-bottom: 1px solid #353945;;
}
.pop-sellers__slider{
    position: relative;
}

.pop-sellers_place {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1px 8px;
    width: 43px;
    height: 22px;
    background: #3772FF;
    border-radius: 24px;
}

.pop-sellers__place-txt {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FCFCFD;
}

.pop-sellers-seller-prize {
    position: relative;
    left: 18px;
    bottom: 0px;
}

.pop-sellers__seller-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FCFCFD;
    
}

.pop-sellers__slider-line{
    overflow: hidden;
}
.slick-track{
    display: flex;
}
.pop-sellers__slider-line .slick-arrow {
    position: absolute;
    font-size: 0;
    top: 50%;
    z-index: 10;
}
.pop-sellers__slider-line .slick-arrow.slick-next{
    right: -80px;
}
.pop-sellers__slider-line .slick-arrow.slick-prev{
    left: -80px;
}
.pop-sellers__slider-line .slick-arrow.slick-disabled{
    display: none !important;
}


.pop-sellers__seller-balance {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #E6E8EC;
}
.pop-sellers__creator_minus-margin{
    margin-bottom: -35px;
}
.pop-sellers_place_bg-pink{
    background: #9757D7;
}
.pop-sellers_place_bg-null{
background: #23262F;
}
.pop-sellers_place_bg-green{
    background: #45B36B;
}


















@media (max-width: 1024px) {
    .container {
        max-width: 864px;
    }
}



@media (max-width: 425px) {
    .container {
        max-width: 311px;
    }
}