@media (max-width: 375px) {
    .container {
        width: 320px;
        margin: 0 auto;
    }

    .tabs__item {
        display: none;
    }

    .cover__right-block {
        margin-left: 0px;
    }

    .cover__edit {
        margin-right: 0px;
        margin-top: 250px;
        display: flex;
        justify-content: flex-end;
    }

    .cover__nav-adaptive {
        display: block;
    }



    .cover__edit-one {
       
        margin-top: -60px;
        margin-left: 15px;
    }

    .cover__edit-two {
        margin-right: -84px;
        margin-top: -60px;
    }

    .cover__phone {
        background-repeat: no-repeat;
        margin-left: 32px;
        margin-top: 20px;
    }

    .cover-main {

        margin-top: -75px;
        display: flex;
        flex-direction: column;

    }

    .cover__nav-photo-flex {
        display: flex;
        flex-direction: column;
    }

    .cover__nav-followers {
        display: none;
    }

    .cover__nav-following {
        display: none;
    }

    .cover__nav-column {
        margin-left: 0px;
    }

    .cover__nav-romb {
        display: none;
    }

    .tabs {
        display: none;
    }

    .photo-cover {

        width: 311px;
        height: 303px;
    }



    .cover__nav-likes {
        margin-left: 30px;
    }


    .cover__nav-sale {
        margin-left: 0px;
    }


    .cover__nav-collectibles {
        margin-left: 25px;
    }

    .cover__nav-created {
        margin-left: 25px;
    }

    .cover__nav-likes {
        margin-left: 25px;
    }
}

@media (max-width: 1120px) {
    .container {
        width: 864px;
        margin: 0 auto;
    }

    .cover__nav-romb {
        display: none;
    }

    .cover__nav-adaptive {
        display: block;

    }

    .photo-cover {
        width: 256px;
        height: 303px;
    }

    .cover__right-block {
        margin-top: 0px;
    }

    .cover__nav-photo-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .cover__edit {
        margin-right: 100px;
        margin-top: 250px;
        display: flex;
        justify-content: flex-end;
    }
}